<a href="https://colab.research.google.com/github/Shohjahon02/first_my_git/blob/main/cut_qcut().ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/anvarnarz/praktikum_datasets/main/world_population_duplicates.csv', usecols=['country','pop2021','area'], index_col='country')
df.head()

           pop2021   area
country
Macau      658.394     30
Monaco      39.511      2
Burundi  12255.433  27834
Macau      658.394     30
Monaco      39.511      2

In [3]:
df.drop_duplicates(inplace=True)

In [4]:
df.head()

             pop2021   area
country
Macau        658.394     30
Monaco        39.511      2
Burundi    12255.433  27834
Singapore   5896.686    710
Hong Kong   7552.810   1104

In [5]:
df.sort_index(inplace=True)

In [7]:
df.head(10)

                       pop2021     area
country
Afghanistan          39835.428   652230
Albania               2872.933    28748
Algeria              44616.624  2381741
American Samoa          55.100      199
Andorra                 77.355      468
Angola               33933.610  1246700
Anguilla                15.117       91
Antigua and Barbuda     98.731      442
Argentina            45605.826  2780400
Armenia               2968.127    29743

In [8]:
df.loc['China']

pop2021    1444216.107
area       9706961.000
Name: China, dtype: float64

In [9]:
df.loc['Uzbekistan']

pop2021     33935.763
area       447400.000
Name: Uzbekistan, dtype: float64

In [10]:
bins = [0, 1000, 10000, 30000, 50000, 100000, 300000, 1500000]

In [16]:
oraliq = pd.cut(df.pop2021, bins)

In [17]:
oraliq

country
Afghanistan          (30000, 50000]
Albania               (1000, 10000]
Algeria              (30000, 50000]
American Samoa            (0, 1000]
Andorra                   (0, 1000]
                          ...
Wallis and Futuna         (0, 1000]
Western Sahara            (0, 1000]
Yemen                (30000, 50000]
Zambia               (10000, 30000]
Zimbabwe             (10000, 30000]
Name: pop2021, Length: 232, dtype: category
Categories (7, interval[int64, right]): [(0, 1000] < (1000, 10000] < (10000, 30000] <
                                         (30000, 50000] < (50000, 100000] < (100000, 300000] <
                                         (300000, 1500000]]

In [19]:
oraliq.value_counts()

(0, 1000]            72
(1000, 10000]        68
(10000, 30000]       44
(30000, 50000]       19
(50000, 100000]      15
(100000, 300000]     11
(300000, 1500000]     3
Name: pop2021, dtype: int64

In [20]:
df['popBins'] = oraliq
df.head(10)

                       pop2021     area         popBins
country
Afghanistan          39835.428   652230  (30000, 50000]
Albania               2872.933    28748   (1000, 10000]
Algeria              44616.624  2381741  (30000, 50000]
American Samoa          55.100      199       (0, 1000]
Andorra                 77.355      468       (0, 1000]
Angola               33933.610  1246700  (30000, 50000]
Anguilla                15.117       91       (0, 1000]
Antigua and Barbuda     98.731      442       (0, 1000]
Argentina            45605.826  2780400  (30000, 50000]
Armenia               2968.127    29743   (1000, 10000]

In [21]:
df.loc['Uzbekistan']

pop2021         33935.763
area               447400
popBins    (30000, 50000]
Name: Uzbekistan, dtype: object

In [27]:
df.head()

                  pop2021     area         popBins
country
Afghanistan     39835.428   652230  (30000, 50000]
Albania          2872.933    28748   (1000, 10000]
Algeria         44616.624  2381741  (30000, 50000]
American Samoa     55.100      199       (0, 1000]
Andorra            77.355      468       (0, 1000]

In [28]:
df = pd.read_csv("https://github.com/anvarnarz/praktikum_datasets/raw/main/automobile_data.csv", index_col=0)
df.head()

,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
index,,,,,,,,,
0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0
1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0
2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0
3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0
4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0

In [29]:
df.price.describe()

count       58.000000
mean     15387.000000
std      11320.259841
min       5151.000000
25%       6808.500000
50%      11095.000000
75%      18120.500000
max      45400.000000
Name: price, dtype: float64

In [37]:
bins = [0, 10000, 20000, 50000]

In [38]:
range = pd.cut(df.price, bins)

In [39]:
range.value_counts()

(0, 10000]        28
(10000, 20000]    17
(20000, 50000]    13
Name: price, dtype: int64

In [40]:
groups = ["arzon", "o'rtacha", "qimmat"]
range = pd.cut(df.price, bins, labels=groups)

In [41]:
range.value_counts()

arzon       28
o'rtacha    17
qimmat      13
Name: price, dtype: int64

In [50]:
range = pd.cut(df.price, 5)

In [51]:
range.value_counts()

(5110.751, 13200.8]    32
(13200.8, 21250.6]     14
(29300.4, 37350.2]      7
(37350.2, 45400.0]      3
(21250.6, 29300.4]      2
Name: price, dtype: int64

In [52]:
range = pd.qcut(df.price, 3)

In [53]:
range.value_counts()

(5150.999, 7295.0]    20
(7295.0, 16430.0]     19
(16430.0, 45400.0]    19
Name: price, dtype: int64

In [54]:
range = pd.qcut(df.horsepower, 3)
range.value_counts()

(47.999, 70.0]    24
(111.0, 288.0]    20
(70.0, 111.0]     17
Name: horsepower, dtype: int64

In [57]:
range = pd.cut(df.horsepower, 3)
range.value_counts()

(47.76, 128.0]    47
(128.0, 208.0]    12
(208.0, 288.0]     2
Name: horsepower, dtype: int64